body {
    background-image: url("./storage/img/1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.text_M {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    color: white;
}

.text_M:hover {
    text-shadow: 2px 2px 8px yellowgreen;
    transition: 300ms;
}

.navigator, a {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-align: center;
}

.join {
    text-align: center;
}

.join:hover {
    color: red;
    transition: color 300ms;
}

.rightb {
    float: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rightb:hover {
    color: yellowgreen;
    transition: color 300ms;
}

.navigator {
    background-color: black;
    margin: 15px;
    padding: 15px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(212, 212, 212);
    text-shadow: 4px 4px 4px #000000;
}

.lowtext {
    padding: 20px;
    margin: 10px;
    font-size: 25px;
    background-color: rgb(85, 85, 85);
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    color: white;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}